<section>
			<!--<div style="background:#000;border-bottom: 1px solid #d9d9d9;"></div> -->

       <ul class="pager">
	    {% if page.next.url %}
        <li class="previous">
            <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">上一篇：  <span>{{page.next.title}}</span>
            </a>
        </li>
		
		<br><br>
		
        {% endif %}
        {% if page.previous.url %}
        <li class="next">
            <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">下一篇：  <span>{{page.previous.title}}</span>
            </a>
        </li>
        {% endif %}
    </ul>
</section>
